@page
@model ErnestSongsAlbumsShop_L00174807.Pages.Admin.Songs.DeleteModel
@{
}

<form method="post">
    <input hidden asp-for="Song.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete Song</h2>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Song.Name"></label>
            <input asp-for="@Model.Song.Name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-page="Index" class="btn btn-secondary">Back to Index</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_validationScriptsPartial" />
    }
}